body {
	font-family: Verdana, Tahoma;
	background-color:#000000;
	margin:50px 200px;
	margin-bottom: 150px;
	background-image: url("images/matrixbackground.jpg");
	background-repeat: repeat-x;
	background-position: 0px 140px;
	background-attachment: fixed;
	overflow:auto;
}

.fb-like {
	height:40px;
	margin:0px;
	padding:0px;
}

h1 {
   color:#ff0000;
   text-align: center;
   font-size: 45px;
}

#intro {
   background-color:#ffffff;
   color: #142933;
   border-color:#559E67;
   border-style: solid;
   border-width: 4px;
   padding: 40px;    
   width: 600px;
   height:350px;
   margin-bottom:10px;
}

#quizform {
   color:#142933;
   font-size: 14px;
   width: 465px;
   border-color:#559E67;    
   border-style: solid;
   border-width: 4px;
   padding: 25px;
   background-color:#ffffff;    
   float: left;
}

#results {
   position: fixed;
   bottom: 0;
   left: 0;
   width: 100%;
   padding: 30px;
   font-size:20px;
   color:#142933;
   background-color:#ffffff;
   border-color:#559E67;
   border-style: solid;
   border-width: 4px;
}



@media screen and (max-width: 600px) {

img{
	max-width:75%;
}

body {
   font-family: Verdana, Tahoma;
   background-color:#000000;
   margin:0px;
   overflow:auto;
}

#intro {
   font-size:16px;
   background-color:#ffffff;
   color: #142933;
   border-color:#559E67;
   border-style: solid;
   border-width: 4px;
   padding: 5%;    
   width:100%;
   height:100%;
   margin-bottom:30px;
}

#quizform {
   color:#142933;
   font-size: 16px;
   width: 100%;
   border-color:#559E67;    
   border-style: solid;
   border-width: 4px;
   padding: 5%;
   background-color:#ffffff;    
   float: left;
}

#results {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
	padding: 5%;
	font-size:20px;
	color:#142933;
	background-color:#ffffff;
	border-color:#559E67;
	border-style: solid;
	border-width: 4px;
}

}